<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>REGISTRY | ALACRITY</title>
  <style type="text/css">
    ul {
        list-style-type: none; 
    }
    .clscroll {
        height: 150px;
        width: auto;
        background-color: #f8f8ff;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .alert {
        padding: 0px !important;
        margin: 0px !important;
    }
  </style>
  <script type="text/javascript">
    function callmebro(){
                $("select").addClass("form-control");
                $("input[type='text']").addClass("form-control");
                $("input[type='email']").addClass("form-control");
        }
    </script>
</head>
<body onload="callmebro()">
    {% if request.user.is_authenticated %}
    <section id="auth-section">
        <p>Logged-in User: <b>{{ request.user.username }}</b> <button type="button" class="btn btn-danger btn-sm" style="float: right;"><a href="{% url 'logout' %}" style="text-decoration: none;color: white;">Log-out</a></button>
        <button type="button" class="btn btn-info btn-sm" style="float: right; margin-right: 5px;"><a href="{% url 'alacrity_index' %}" style="text-decoration: none;color: white;">Home</a></button></p>
    </section>
    {% endif %}
    <h1 align="center">Welcome to Team Registration Portal</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" name="myform" action="#" onsubmit="doit()">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% if field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.errors }}</strong>
        </div>
        {% endif %}
        {% if field.label == "Registered events" %}
            {{ field.label_tag }}
            <div class="clscroll">
                {{ field }}
            </div>
        {% else %}
            {{ field.label_tag }}
            <div class="form-group">
                {{ field }}
            </div>
        {% endif %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            <div style="display: none;">{{ field }}</div>
        {% endfor %}
        <hr>
        <label>Group Members:</label>
        <div class="form-inline">
            <input type="text" id="mem" name="mem" 
            value="" placeholder="Team Strength">
            <span class="help-block">No. of members in your team.</span>
            <button type="button" id="dynbtn" 
            onclick="addinputFields()" class="btn btn-primary">Add</button>
        </div>
            <div id="container" class="form-group"></div>
        <hr>
        <button type="submit" id="sub-btn" class="btn btn-success btn-block">Submit</button>
    </form>
    </div>
</body>
<script type="text/javascript">
    function addinputFields(){
        var number = document.getElementById("mem").value;
        var list = document.getElementById("container");
        while (list.hasChildNodes()) {   
            list.removeChild(list.firstChild);
        }
        for (i=0;i<number;i++){
            var linebreak = document.createElement("br");
            var input = document.createElement("input");
            input.type = "text";
            input.class = "form-control";
            input.name = "yo_man[]";
            var label = document.createElement("Label");
            label.htmlFor = "text";
            label.innerHTML="Name of Member "+(i+1)+": ";
            container.appendChild(linebreak);
            container.appendChild(label);
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
        }
    }
    function doit() {
        var b;
        var val = $("input[name='yo_man[]']").map(function(){return $(this).val();}).get();
        if (val==null || val=="")
        {
            alert("Please specify other members in your Group!");
            document.location.reload(true);
            return false;
        }
        b = val.join(';')
        $('#omg').attr('value', b);
    }
</script>
</html>